In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime as dt
from scipy.stats import linregress

# Import the financialmodelingprep API key
from config import financial_api_key

In [2]:
# Set the API base URL
#https://https://financialmodelingprep.com/api/v3/balance-sheet-statement/AAPL?period=quarter&limit=400&apikey=90e712c3062ebab6be06de188b5c6b0a
base_url = "https://financialmodelingprep.com/api/v3/balance-sheet-statement/"
#base_url = "https://financialmodelingprep.com/api/v3/financial-statement-full-as-reported/"
SYM = 'AAPL'
query_url = f"{base_url}{SYM}?period=quarter?apikey={financial_api_key}"
print(query_url)

#https://financialmodelingprep.com/api/v3/financial-statement-full-as-reported/ALK?apikey=90e712c3062ebab6be06de188b5c6b0a
#https://financialmodelingprep.com/api/v3/financial-statement-full-as-reported/AAPL?apikey=90e712c3062ebab6be06de188b5c6b0a
#API Data provided by Financial Modeling Prep https://financialmodelingprep.com/developer/docs/

https://financialmodelingprep.com/api/v3/balance-sheet-statement/AAPL?period=quarter?apikey=90e712c3062ebab6be06de188b5c6b0a

In [3]:
# Load the CSV file created in Part 1 into a Pandas DataFrame
washington_corporations = pd.read_csv("Resources/publiccompaniesandsectors.csv")

# Display sample data
washington_corporations

                     Company Name   SYM                Sector
0   Alder BioPharmaceuticals Inc.  ALDR      BioTech & Pharma
1           Alaska Air Group Inc.   ALK              Airlines
2                 Amazon com Inc.  AMZN  Retail and Ecommerce
3                  Anchor Bancorp  ANCB                 Banks
4        Aptevo Therapeutics Inc.  APVO      BioTech & Pharma
..                            ...   ...                   ...
68                           Aval  AVLR                 Taxes
69          Columbia Banking Inc.  COLB                 Banks
70                 eXp World Inc.  EXPI  Real Estate Services
71           Mr Cooper Group Inc.  COOP             Insurance
72                      Blue Inc.   TBI              Staffing

[73 rows x 3 columns]

In [8]:
#identify tickers needed from washington corportions dataframe
ticker_list= washington_corporations["SYM"]
#ticker_list

#Create an empty list to collect data from API pull
financial_data = []

#loop through api to fetch data for all Washington Corproations
for count, symbol in enumerate(ticker_list):
    symbol = str(symbol)
    print(f'reading ticker {count} {symbol}')
    #if count > 10:
        #print("DEBUT BREAK!")
        #break
    if symbol == 'nan':
        continue
    query_url=f"{base_url}{symbol}?period=quarter&apikey={financial_api_key}"
    #print(f'symbol={symbol}, query={query_url}')
    
    financial_statement_data = requests.get(query_url).json()[0]
    
    #print(financial_statement_data[0])
    #print(financial_statement_data[1])
    
    ticker = financial_statement_data['symbol']
    date = financial_statement_data['date']
    fillingDate = financial_statement_data['fillingDate']
    calendarYear = financial_statement_data['calendarYear']
    period = financial_statement_data ['period']
    cashAndCashEquivalents = financial_statement_data['cashAndCashEquivalents']
    shortTermInvestments = financial_statement_data['shortTermInvestments']
    cashAndShortTermInvestments = financial_statement_data['cashAndShortTermInvestments']
    netReceivables= financial_statement_data['netReceivables']
    inventory =  financial_statement_data['inventory']
    otherCurrentAssets =financial_statement_data['otherCurrentAssets']
    totalCurrentAssets = financial_statement_data['totalCurrentAssets']
    propertyPlantEquipmentNet = financial_statement_data ['propertyPlantEquipmentNet']
    goodwillAndIntangibleAssets = financial_statement_data['goodwillAndIntangibleAssets']
    longTermInvestments = financial_statement_data['longTermInvestments']
    taxAssets = financial_statement_data['taxAssets']
    otherNonCurrentAssets = financial_statement_data['otherNonCurrentAssets']
    totalNonCurrentAssets = financial_statement_data['totalNonCurrentAssets']
    otherAssets = financial_statement_data['otherAssets']
    totalAssets = financial_statement_data['totalAssets']
    accountPayables = financial_statement_data['accountPayables']
    shortTermDebt = financial_statement_data['shortTermDebt']
    taxPayables = financial_statement_data['taxPayables']
    deferredRevenue = financial_statement_data['deferredRevenue']
    totalLiabilities = financial_statement_data['totalLiabilities']
    retainedEarnings = financial_statement_data ['retainedEarnings']
    accumulatedOtherComprehensiveIncomeLoss = financial_statement_data['accumulatedOtherComprehensiveIncomeLoss']
    totalEquity = financial_statement_data['totalEquity']
    totalLiabilitiesAndTotalEquity = financial_statement_data['totalLiabilitiesAndTotalEquity']
    totalInvestments = financial_statement_data['totalInvestments']
    totalDebt = financial_statement_data['totalDebt']
    netDebt = financial_statement_data['netDebt']
    
   #append to list
    financial_data.append({"Ticker":symbol,
                           "Date": date,
                           "Filing Date": fillingDate,
                           "Calendar Year": calendarYear,
                           "Period": period,
                           "Cash & Cash Equivalents": cashAndCashEquivalents,
                           "Net Receivables": netReceivables,
                           "Inventory": inventory,
                           "Other Current Assets": otherCurrentAssets,
                           "Total Current Assets": totalCurrentAssets,
                           "Property, Plant & Equip Net" : propertyPlantEquipmentNet,
                           "Goodwill & Intangible Assets": goodwillAndIntangibleAssets, 
                           "Long Term Investments": longTermInvestments, 
                           "Tax Assets": taxAssets, 
                           "Other NonCurrent Assets": otherNonCurrentAssets, 
                           "Total NonCurrent Assets": totalNonCurrentAssets, 
                           "Other Assets": otherAssets,
                           "Total Asstes": totalAssets, 
                           "Acct Payables": accountPayables,
                           "Short-term Debt": shortTermDebt,
                           "Tax Payables": taxPayables,
                           "Deferred Revenue": deferredRevenue, 
                           "Total Liabilities": totalLiabilities,
                           "Retained Earnings": retainedEarnings,
                           "Accumulated Other Comprehensive Income Loss": accumulatedOtherComprehensiveIncomeLoss,
                           "Total Equity": totalEquity,
                           "Total Liabilities": totalLiabilitiesAndTotalEquity,
                           "Total Investments": totalInvestments,
                           "Total Debt": totalDebt, 
                           "Net Debt": netDebt
                          })

                           
#covert the financial data into a dataframe
financial_data = pd.DataFrame.from_dict(financial_data)
financial_data
#financial_data.to_csv("Resources/stocktickerdata.csv")

reading ticker 0 ALDR
reading ticker 1 ALK
reading ticker 2 AMZN
reading ticker 3 ANCB
reading ticker 4 APVO
reading ticker 5 ATOS
reading ticker 6 AVA
reading ticker 7 BANR
reading ticker 8 BBSI
reading ticker 9 BCOR
reading ticker 10 BLFS
reading ticker 11 BSQR
reading ticker 12 CLIR
reading ticker 13 CLW
reading ticker 14 COST
reading ticker 15 CRAY
reading ticker 16 CTIC
reading ticker 17 DAIO
reading ticker 18 DATA
reading ticker 19 EMAN
reading ticker 20 nan
reading ticker 21 EXPD
reading ticker 22 EXPE
reading ticker 23 FFIV
reading ticker 24 FFNW
reading ticker 25 FNKO
reading ticker 26 FNWB
reading ticker 27 FSBW
reading ticker 28 FTV
reading ticker 29 HFWA
reading ticker 30 HMST
reading ticker 31 ISR
reading ticker 32 ITRI
reading ticker 33 JWN
reading ticker 34 KTCC
reading ticker 35 LASR
reading ticker 36 MCHX
reading ticker 37 MERC
reading ticker 38 nan
reading ticker 39 MSFT
reading ticker 40 MVIS
reading ticker 41 NLS
reading ticker 42 NSTG
reading ticker 43 NWPX
reading ticker 44 OMER
reading ticker 45 PCAR
reading ticker 46 PCH
reading ticker 47 nan
reading ticker 48 PI
reading ticker 49 POPE
reading ticker 50 RDFN
reading ticker 51 RLGT
reading ticker 52 RLH
reading ticker 53 RNWK
reading ticker 54 RVSB
reading ticker 55 SBUX
reading ticker 56 SFBC
reading ticker 57 SGEN
reading ticker 58 SMAR
reading ticker 59 TRUP
reading ticker 60 TSBK
reading ticker 61 WAFD
reading ticker 62 WY
reading ticker 63 Z
reading ticker 64 ZUMZ
reading ticker 65 ACHV
reading ticker 66 ADPT
reading ticker 67 ALPN
reading ticker 68 AVLR
reading ticker 69 COLB
reading ticker 70 EXPI
reading ticker 71 COOP
reading ticker 72 TBI

,Ticker,Date,Filing Date,Calendar Year,Period,Cash & Cash Equivalents,Net Receivables,Inventory,Other Current Assets,Total Current Assets,...,Short-term Debt,Tax Payables,Deferred Revenue,Total Liabilities,Retained Earnings,Accumulated Other Comprehensive Income Loss,Total Equity,Total Investments,Total Debt,Net Debt
0,ALDR,2019-06-30,2019-08-06,2019,Q2,88378000,0,0,42361000,451672000,...,981000,0,0,462567000,-1140283000,-49000,110305000,320933000,5042000,-83336000
1,ALK,2022-09-30,2022-11-03,2022,Q3,688000000,345000000,94000000,221000000,3810000000,...,584000000,0,2535000000,14531000000,4278000000,-328000000,3826000000,0,3955000000,3267000000
2,AMZN,2022-12-31,2023-02-03,2022,Q4,53888000000,42360000000,34405000000,0,146791000000,...,0,0,13227000000,462675000000,83193000000,-4487000000,146043000000,0,140118000000,86230000000
3,ANCB,2018-09-30,2018-09-30,2019,Q1,50546000,1424000,0,0,0,...,0,0,0,478880000,48063000,-1232000,68676000,0,37000000,-13546000
4,APVO,2022-09-30,2022-11-10,2022,Q3,22150000,0,0,2468000,24618000,...,2000000,0,0,31695000,-201394000,0,15762000,0,10147000,-12003000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,AVLR,2022-06-30,2022-08-09,2022,Q2,1460594000,117412000,0,134830000,1712836000,...,12076000,4281000,307477000,2644468000,-791274000,-8386000,1026340000,0,1018725000,-441869000
66,COLB,2022-09-30,2022-10-28,2022,Q3,317675000,61652000,0,0,0,...,0,0,0,20405369000,804774000,-558844000,2115481000,11494352000,34632000,-283043000
67,EXPI,2022-09-30,2022-11-02,2022,Q3,134545000,119822000,0,65819000,320186000,...,202000,0,52652000,439698000,34616000,-1474000,255894000,0,922000,-133623000
68,COOP,2022-09-30,2022-10-26,2022,Q3,530000000,831000000,0,1729000000,3090000000,...,3070000000,0,0,12815000000,3801000000,0,4105000000,0,5743000000,5213000000
69,TBI,2022-12-25,2022-12-25,2022,Q4,72054000,314275000,0,43883000,430212000,...,0,0,0,1019408000,0,0,496315000,0,0,-72054000

In [15]:
year_2022 = financial_data[(financial_data["Calendar Year"] == "2022")]
year_2021 = financial_data[(financial_data["Calendar Year"] == "2021")]
year_2020 = financial_data[(financial_data["Calendar Year"] == "2020")]
year_2019 = financial_data[(financial_data["Calendar Year"] == "2019")]
year_2018 = financial_data[(financial_data["Calendar Year"] == "2018")]

,Ticker,Date,Filing Date,Calendar Year,Period,Cash & Cash Equivalents,Net Receivables,Inventory,Other Current Assets,Total Current Assets,...,Short-term Debt,Tax Payables,Deferred Revenue,Total Liabilities,Retained Earnings,Accumulated Other Comprehensive Income Loss,Total Equity,Total Investments,Total Debt,Net Debt
1,ALK,2022-09-30,2022-11-03,2022,Q3,688000000,345000000,94000000,221000000,3810000000,...,584000000,0,2535000000,14531000000,4278000000,-328000000,3826000000,0,3955000000,3267000000
2,AMZN,2022-12-31,2023-02-03,2022,Q4,53888000000,42360000000,34405000000,0,146791000000,...,0,0,13227000000,462675000000,83193000000,-4487000000,146043000000,0,140118000000,86230000000
4,APVO,2022-09-30,2022-11-10,2022,Q3,22150000,0,0,2468000,24618000,...,2000000,0,0,31695000,-201394000,0,15762000,0,10147000,-12003000
5,ATOS,2022-09-30,2022-11-07,2022,Q3,117367000,610000,0,5418000,123395000,...,0,0,0,126724000,-148703000,-54000,123856000,0,0,-117367000
6,AVA,2022-09-30,2022-11-01,2022,Q3,14363000,188548000,123447000,137246000,463604000,...,281500000,40579000,0,7055799000,766624000,-10218000,2234849000,0,2724855000,2710492000
7,BANR,2022-09-30,2022-11-03,2022,Q3,821921000,50689000,0,0,0,...,0,0,0,16360809000,486108000,-369190000,1408659000,7153581000,230721000,-591200000
8,BBSI,2022-09-30,2022-11-03,2022,Q3,58951000,194537000,0,134109000,460782000,...,6908000,2572000,0,696990000,170745000,-30803000,171363000,0,22313000,-36638000
9,BCOR,2022-09-30,2022-11-01,2022,Q3,91104000,51839000,0,14000000,156943000,...,5112000,2785000,5908000,1025589000,-1197585000,0,371590000,0,557382000,466278000
10,BLFS,2022-09-30,2022-11-09,2022,Q3,27036000,32436000,33747000,-65662000,62140000,...,42482000,0,0,487679000,-194597000,-1257000,408249000,35073000,81329000,54293000
11,BSQR,2022-09-30,2022-11-10,2022,Q3,26165000,4665000,0,772000,42279000,...,351000,0,346000,44464000,-134886000,-1086000,36665000,0,1458000,-24707000
12,CLIR,2022-09-30,2022-11-14,2022,Q3,5880000,322000,0,506000,10608000,...,180000,0,61000,11863000,-87205000,-11000,10796000,0,419000,-5461000
13,CLW,2022-09-30,2022-10-31,2022,Q3,50800000,180400000,326800000,12200000,570200000,...,14800000,19800000,0,1703600000,582700000,-39100000,569300000,0,579700000,528900000
16,CTIC,2022-09-30,2022-11-07,2022,Q3,32048000,10592000,1147000,3557000,96935000,...,0,0,0,123466000,-2501449000,-89000,-16837000,0,49242000,17194000
17,DAIO,2022-09-30,2022-11-14,2022,Q3,11041000,4412000,7104000,615000,23172000,...,767000,374000,1805000,26469000,-3641000,-90000,17925000,0,2426000,-8615000
19,EMAN,2022-09-30,2022-11-10,2022,Q3,3862000,6993000,8334000,1160000,20349000,...,1969000,0,12000,59960000,-259175000,0,20471000,0,15645000,11783000
20,EXPD,2022-09-30,2022-11-08,2022,Q3,2154534000,2748322000,0,684700000,5587556000,...,88535000,74507000,594244000,6598313000,3738600000,-258129000,3482180000,0,498418000,-1656116000
21,EXPE,2022-12-31,2023-02-10,2022,Q4,4096000000,2118000000,0,2529000000,8791000000,...,0,21000000,163000000,21561000000,-1409000000,-234000000,2283000000,1232000000,6552000000,2456000000
23,FFNW,2022-09-30,2022-11-10,2022,Q3,24911000,6261000,0,0,0,...,0,0,0,1484311000,92928000,-7424000,157890000,444994000,153441000,128530000
24,FNKO,2022-09-30,2022-11-03,2022,Q3,25050000,189917000,265799000,38480000,519246000,...,125250000,2537000,0,1110396000,102234000,-5851000,405997000,0,347850000,322800000
25,FNWB,2022-09-30,2022-11-10,2022,Q3,103663000,6655000,0,0,0,...,0,0,0,2093873000,110107000,-41023000,159031000,672862000,292338000,188675000
26,FSBW,2022-09-30,2022-11-09,2022,Q3,164757000,10407000,0,1930713000,2333819000,...,6836000,0,0,2652138000,195986000,-29285000,220547000,464353000,323944000,159187000
27,FTV,2022-12-31,2022-12-31,2022,Q4,709200000,958500000,536700000,272600000,2477000000,...,999700000,0,0,15890600000,6742100000,-325700000,9683400000,0,3251300000,2542100000
28,HFWA,2022-09-30,2022-11-09,2022,Q3,407324000,17812000,0,0,0,...,0,0,0,7200312000,330284000,-105001000,776702000,3485603000,21399000,-385925000
29,HMST,2022-09-30,2022-11-04,2022,Q3,57256000,0,0,0,0,...,1569000000,0,0,9072887000,432995000,-105931000,552789000,0,1793314000,1736058000
31,ITRI,2022-09-30,2022-11-03,2022,Q3,215413000,266669000,203612000,122948000,808642000,...,0,13663000,110531000,2293437000,-547544000,-141821000,1093828000,0,499094000,283681000
34,LASR,2022-09-30,2022-11-07,2022,Q3,62184000,43803000,80660000,14138000,250975000,...,2697000,0,1736000,348553000,-199975000,-4070000,285838000,0,16212000,-45972000
35,MCHX,2022-09-30,2022-11-04,2022,Q3,23329000,8437000,0,2554000,34320000,...,1520000,0,878000,60966000,-307747000,0,48895000,0,1953000,-21376000
36,MERC,2022-09-30,2022-10-27,2022,Q3,287254000,324343000,385961000,24130000,1096688000,...,11195000,77423000,2599000,2543983000,583057000,-280278000,720349000,120262000,1358587000,1071333000
38,MVIS,2022-09-30,2022-10-28,2022,Q3,21977000,0,1762000,2832000,87852000,...,794000,0,4601000,109391000,-669049000,-194000,85625000,0,14599000,-7378000
40,NSTG,2022-09-30,2022-11-07,2022,Q3,117069000,27273000,45761000,15221000,318708000,...,5382000,0,9097000,383600000,-765182000,-1301000,82928000,0,251358000,134289000
41,NWPX,2022-09-30,2022-11-09,2022,Q3,3706000,191235000,71578000,4326000,270845000,...,8250000,0,16243000,586477000,183092000,-1200000,308677000,0,170298000,166592000
42,OMER,2022-09-30,2022-11-09,2022,Q3,145533000,13854000,0,53727000,288545000,...,4409000,0,0,457551000,-764450000,0,-46314000,0,342761000,197228000
43,PCAR,2022-12-31,2022-12-31,2022,Q4,0,1919800000,2198800000,0,10277500000,...,0,0,7185600000,13745900000,15885500000,0,13167100000,0,0,0
44,PCH,2022-12-31,2022-12-31,2022,Q4,343809000,22813000,67958000,36955000,471535000,...,39979000,0,0,3550555000,-208979000,97652000,2263153000,0,1068429000,724620000
45,PI,2022-09-30,2022-10-26,2022,Q3,39310000,40667000,31925000,5507000,259950000,...,3460000,0,2808000,327789000,-386667000,-1730000,2061000,161741000,295096000,255786000
47,RDFN,2022-09-30,2022-11-09,2022,Q3,359724000,96343000,301231000,354430000,1222044000,...,21094000,0,0,2011040000,-631361000,-1051000,107386000,151993000,1302058000,942334000
48,RLGT,2022-03-31,2022-05-10,2022,Q3,40046000,265945000,0,36545000,342536000,...,12549000,4271000,0,554083000,88733000,698000,184334000,0,159667000,119621000
50,RNWK,2022-09-30,2022-11-09,2022,Q3,9156000,8659000,0,4224000,22039000,...,0,0,2245000,47008000,-587872000,-63671000,28407000,0,1703000,-7453000
53,SFBC,2022-09-30,2022-11-10,2022,Q3,76064000,2809000,0,0,0,...,0,0,0,982246000,68309000,-1265000,94956000,22999000,61914000,-14150000
54,SGEN,2022-09-30,2022-10-27,2022,Q3,362601000,486755000,364970000,144192000,2759619000,...,0,0,0,3619078000,-2006176000,2995000,2821811000,0,46703000,-315898000
56,TRUP,2022-09-30,2022-11-04,2022,Q3,85506000,224082000,0,14802000,421828000,...,600000,0,202504000,647896000,-162277000,-6017000,305738000,152557000,54160000,-31346000
59,WY,2022-09-30,2022-10-28,2022,Q3,1920000000,440000000,542000000,146000000,3048000000,...,140000000,125000000,0,17590000000,2510000000,-418000000,10838000000,0,5075000000,3155000000
60,Z,2022-09-30,2022-11-02,2022,Q3,1973000000,78000000,0,204000000,3771000000,...,75000000,0,50000000,6718000000,-1540000000,-19000000,4595000000,0,1875000000,-98000000
62,ACHV,2022-03-31,2022-05-12,2022,Q1,36337000,0,0,1355000,37692000,...,59000,0,0,40614000,-101159000,4000,21433000,0,15230000,-21107000
63,ADPT,2022-09-30,2022-11-03,2022,Q3,217552000,26549000,17345000,12407000,564380000,...,8528000,0,67892000,884234000,-878954000,-5971000,487840000,310225000,109049000,-108503000
64,ALPN,2022-09-30,2022-11-14,2022,Q3,126625000,677000,0,3700000,253239000,...,5265000,1211000,46210000,291599000,-205097000,-1669000,182009000,150253000,15593000,-111032000
65,AVLR,2022-06-30,2022-08-09,2022,Q2,1460594000,117412000,0,134830000,1712836000,...,12076000,4281000,307477000,2644468000,-791274000,-8386000,1026340000,0,1018725000,-441869000
66,COLB,2022-09-30,2022-10-28,2022,Q3,317675000,61652000,0,0,0,...,0,0,0,20405369000,804774000,-558844000,2115481000,11494352000,34632000,-283043000
67,EXPI,2022-09-30,2022-11-02,2022,Q3,134545000,119822000,0,65819000,320186000,...,202000,0,52652000,439698000,34616000,-1474000,255894000,0,922000,-133623000
68,COOP,2022-09-30,2022-10-26,2022,Q3,530000000,831000000,0,1729000000,3090000000,...,3070000000,0,0,12815000000,3801000000,0,4105000000,0,5743000000,5213000000
69,TBI,2022-12-25,2022-12-25,2022,Q4,72054000,314275000,0,43883000,430212000,...,0,0,0,1019408000,0,0,496315000,0,0,-72054000

In [ ]:
#show total current assets of each company by year
#total Equity of each company by year