In [2]:
import pandas as pd

In [3]:
path = "../Downloads/QuickFacts Feb-06-2023.csv"
csv_file = pd.read_csv(path, delimiter=',')

In [4]:
new_df = pd.DataFrame(csv_file)
new_df.head(20)

,Fact,Fact Note,"Seattle city, Washington","Value Note for Seattle city, Washington"
0,"Population Estimates, July 1 2022, (V2022)",NaN,NaN,NaN
1,"Population Estimates, July 1 2021, (V2021)",NaN,"733,919",NaN
2,"Population estimates base, April 1, 2020, (V2022)",NaN,NaN,NaN
3,"Population estimates base, April 1, 2020, (V2021)",NaN,"735,157",NaN
4,"Population, percent change - April 1, 2020 (es...",NaN,NaN,NaN
5,"Population, percent change - April 1, 2020 (es...",NaN,-0.2%,NaN
6,"Population, Census, April 1, 2020",NaN,"737,015",NaN
7,"Population, Census, April 1, 2010",NaN,"608,660",NaN
8,"Persons under 5 years, percent",NaN,4.6%,NaN
9,"Persons under 18 years, percent",NaN,14.5%,NaN
10,"Persons 65 years and over, percent",NaN,12.3%,NaN
11,"Female persons, percent",NaN,49.3%,NaN
12,"White alone, percent",NaN,64.9%,NaN
13,"Black or African American alone, percent",(a),6.8%,NaN
14,"American Indian and Alaska Native alone, percent",(a),0.5%,NaN
15,"Asian alone, percent",(a),16.3%,NaN
16,Native Hawaiian and Other Pacific Islander alo...,(a),0.2%,NaN
17,"Two or More Races, percent",NaN,8.8%,NaN
18,"Hispanic or Latino, percent",(b),7.2%,NaN
19,"White alone, not Hispanic or Latino, percent",NaN,62.2%,NaN

In [10]:
population_df = pd.DataFrame(new_df["Seattle city, Washington"])
population_df = population_df.replace([',', '%'], '',regex=True).astype(float)

ValueError: could not convert string to float: 'X'

In [7]:
pop_2020 = population_df["Seattle city, Washington"].values[3]
pop_2021 = population_df["Seattle city, Washington"].values[1]



#df=df.replace(',','',regex=True).astype(float)

#pop_change = pop_2020 - pop_2021
#pop_change

#print(f"The population percentage change between 2020 and 2021 is: " + (({pop_2020} - {pop_2021}) / {pop_2020}))
#perc_change = float((pop_2020 - pop_2021) / pop_2020)
#perc_change

'733,919'